<% include ../partials/header %>
<head>
    <link rel="stylesheet" href="/stylesheets/Show.css">
</head>

<div class="container">
<div class="col-md-9" style="margin-left: 125px;">
    <div class="thumbnail">
        <div class="caption-full">
            <h4 class="pull-right">$
                <%= xrpSell.price %>
            </h4>
            <h3>
                <a>
                    <%= xrpSell.title %>
                </a>
            </h3>
            <p>
                <%= xrpSell.description %>
            </p>
            <p><em>Submitted by: <a href="/users/<%= xrpSell.author.id %>"><%= xrpSell.author.username %></a></em></p>
            <% if(currentUser && xrpSell.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-warning" href="/listings/xrpSell/<%= xrpSell._id %>/edit">Edit</a>
                <form id="delete-form" action="/listings/xrpSell/<%= xrpSell._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                </form>
                <% } %>
        </div>
    </div>  
</div>
</div>

<% include ../partials/footer %>